@import url("http://fonts.cdnfonts.com/css/nexa-slab-free");
body {
    margin: 0;
    font-family: "Nexa Slab Regular FREE", sans-serif, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}

.container {
    width: 90%;
    margin: auto;
    color: red;
    background-color: #1d1d1d;
}
